{% extends 'layout.twig' %}

{% block body %}

<h1>{{actu}} - nombre de films trouvé : {{films.total_results}}</h1>
{% if films.total_results > 20 %}
<ul class="uk-pagination uk-flex-center">
  <li><a href="#"><span uk-pagination-previous></span></a></li>
  {% if search != undifined %}
  {% for i in 1 .. films.total_pages %}
    <li>
      <form method="post" action="/">
        <input type="hidden" name="page" value="{{i}}">
        <input type="hidden" name="search" value="{{search}}">
        <input type="submit" value="{{i}}">
      </form>
    </li>
  {% endfor %}    
  {% else %}
  {% for i in 1 .. films.total_pages %}
  <li>
    <form method="post" action="/now">
      <input type="hidden" name="page" value="{{i}}">     
      <input type="submit" value="{{i}}">
    </form>
  </li>
  {% endfor %}   
  {% endif %}
  <li><a href="#"><span uk-pagination-next></span></a></li>
</ul>
{% endif %}   
<table class="uk-table uk-table-divider uk-table-small uk-table-justify">
  <thead>
    <tr class="uk-table-middle">
      <th class="uk-text-center uk-width-1-2">Titre</th>
      <th class="uk-text-left uk-width-small">date</th>
      <th class="uk-text-center uk-width-1-2">affiche</th>
    </tr>
  </thead>
  <tbody>
    {% if films.total_results != 0 %}
    {% for film in films.results %}
    
      <tr>
          <td class="uk-text-center uk-table-middle"><a href="/film?id={{film.id}}">{{film.title}}</a></td>
          <td class="uk-text-center uk-table-middle">{{film.release_date|date('d/m/Y')}}</td>          
          <td class="uk-text-center uk-table-middle"><img class="affiche" src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}" alt=""></td>
        </tr>
      
      {% endfor %}
      {% else %}
        <tr>
          <td colspan="3">Aucun film disponible</td>
        </tr>
    {% endif %}
  </tbody>
</table>

{% endblock %}
